name: Deployment
on:
  workflow_dispatch:
    inputs:
      environment:
        description: The environment to deploy to
        type: choice
        required: true
        options:
          - production
          - recette
      build:
        description: Build the project before deploying
        type: boolean
        required: true
        default: true
  workflow_call:
    inputs:
      environment:
        description: The environment to deploy to
        type: string
        required: true
      build:
        description: The build to deploy
        type: boolean
        required: true
    secrets:
      DEPLOY_SSH_PRIVATE_KEY:
        description: SSH private key
        required: true
      DEPLOY_PASS:
        description: SSH PWD TO DEPLOY
        required: true
      SLACK_WEBHOOK_NOTIF:
        description: Slack webhook URL
        required: true
      SLACK_WEBHOOK_ALERT:
        description: Slack webhook URL
        required: true
      OPENPGP_PRIVATE_SUBKEY:
        description: Github Actions' OpenPGP private subkey
        required: true
      TOKEN_MNA_SHARED:
        description: Authentication token for accessing private repositories
        required: true

jobs:
  npm-packages-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Clone mna-npm-check repository
        uses: actions/checkout@v4
        with:
          repository: mission-apprentissage/mna-npm-check
          path: mna-npm-check

      - name: Analyze NPM dependancies
        run: mna-npm-check/npm-check.sh -p .
  build:
    if: ${{ success() }}
    needs: ["npm-packages-check"]
    uses: "./.github/workflows/_build.yml"
    with:
      environment: ${{ inputs.environment }}
      skip: ${{ !inputs.build }}
    secrets:
      SLACK_WEBHOOK_NOTIF: ${{ secrets.SLACK_WEBHOOK_NOTIF }}
      OPENPGP_PRIVATE_SUBKEY: ${{ secrets.OPENPGP_PRIVATE_SUBKEY }}
      TOKEN_MNA_SHARED: ${{ secrets.TOKEN_MNA_SHARED }}

  deploy:
    needs: ["build"]
    name: Deploy ${{ github.ref_name }} on ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Notify new deployment on Slack
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notification_title: "Déploiement ${{ github.ref_name }}(${{ github.sha}}) en ${{ inputs.environment }} initié..."
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_NOTIF }}

      - name: Checkout project
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN_MNA_SHARED }}
          submodules: recursive

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          name: github_actions
          key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          known_hosts: ${{ vars.SSH_KNOWN_HOSTS }}
          config: |
            Host *
              IdentityFile ~/.ssh/github_actions

      - name: Initialize the GnuPG keyring
        run: |
          echo -n "$OPENPGP_KEY" | gpg --import
        env:
          OPENPGP_KEY: ${{ secrets.OPENPGP_PRIVATE_SUBKEY }}

      - name: Setup SOPS
        uses: nhedger/setup-sops@v2

      - name: Run playbook
        run: .bin/mna-api deploy ${{ inputs.environment }}
        env:
          ANSIBLE_REMOTE_USER: deploy
          ANSIBLE_BECOME_PASS: ${{ secrets.DEPLOY_PASS }}

      - name: Notify sentry deployment
        run: .bin/mna-api sentry:deploy "${{ inputs.environment }}"

      - name: Encrypt logs
        run: .bin/mna-api deploy:log:encrypt
        if: always()

      - name: Upload logs artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ inputs.environment }}
          path: /tmp/deploy.log.gpg

      - name: Add Job summary
        if: always()
        run: echo 'You can get logs using `.bin/mna-api deploy:log:decrypt ${{ github.run_id }} ${{ inputs.environment }}`' >> $GITHUB_STEP_SUMMARY

      - name: Notify failure on Slack
        uses: ravsamhq/notify-slack-action@v2
        if: always()
        with:
          status: ${{ job.status }}
          notification_title: "Le déploiement ${{ github.ref_name }}(${{ github.sha}}) en ${{ inputs.environment }} a échoué"
          message_format: "{emoji} *[${{ inputs.environment }}]* *{workflow}* {status_message} in <{repo_url}|{branch}> on <{commit_url}|{commit_sha}>. You can get error logs using `.bin/mna-api deploy:log:decrypt ${{ github.run_id }} ${{ inputs.environment }}`"
          notify_when: "failure"
          mention_groups: "!channel"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_ALERT }}

      - name: Notify success on Slack
        uses: ravsamhq/notify-slack-action@v2
        if: always()
        with:
          status: ${{ job.status }}
          notification_title: "Déploiement ${{ github.ref_name }}(${{ github.sha}}) en ${{ inputs.environment }} terminé avec succès"
          notify_when: "success"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_NOTIF }}
